<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-4">
    <div class="container">
        <a class="navbar-brand"
            href="https://github.com/isquicha/TechStart_2Ed"
            target="_blank">OlistTechStart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('client.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('client.sellers') }}">Sellers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('client.products') }}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('client.categories') }}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('client.marketplaces') }}">Marketplaces</a>
                </li>

            </ul>
        </div>
    </div>
</nav>