{% extends 'base.jinja2' %}

{% block body %}
<h1>Welcome!</h1>
<p>
    This project is a programming challenge for an interview at Olist.
</p>

<p>
    It's basically a CRUD with 4 tables (Products, Categories, Sellers,
    Marketplaces). <br>
    To do so, I made an API with Python's web framework Flask.
    Feel free to take a look at the code at <a
        href="https://github.com/isquicha/TechStart_2Ed" target="_blank">this
        link</a> =D.
</p>
{% endblock body %}
<!---->
{% block scripts %}
<script>


</script>
{% endblock scripts %}